<html>
<head>
    <title>ITSmobile login</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="OnKey0x0D" content="javascript:MobileSubmitLogin('onLogin')">
    <meta http-equiv="IBrowse_OnKey0x0D" content="javascript:MobileSubmitLogin('onLogin')">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style type="text/css">
        a:link { font-family:Arial,Helvetica,sans-serif;font-size:large;font-style:normal;color:#204ba2;font-weight:normal;text-decoration:none;}
        a:visited { font-family:Arial,Helvetica,sans-serif;font-size:large;font-style:normal;color:#204ba2;font-weight:normal;text-decoration:none;}
        a:hover { font-family:Arial,Helvetica,sans-serif;font-size:large;font-style:normal;color:#FF7800;font-weight:normal;}
        .MobileLoginBody { background-color:#EBEFF2; width:100%; height:100%; margin: 0px; padding: 0px; border-width: 0px; }
        .MobileScreen { width:100%; height:100%; padding:0px; margin:0px; border:0px; }
        .MobileLoginScreen { background-color:#FFFFFF; width:202px; padding:0px; margin:0px; border:0px; }
        .MobileLoginTitle { background-color:#B6CFE6;border-width:0 0 1px 0;border-style:none none solid none;border-color:#F2F2F2;color:#000;padding:3px 5px 3px 6px;height:17px}
        .MobileLoginSubScreen { background-color:#FFFFFF; width:100%; padding:0px; margin:0px; border:0px; }
        .MobileLoginSubTitle { background-color:#B5B2B5;border-width:0 1px 1px 0;border-style:none solid solid none;border-color:#F2F2F2;color:#000;padding:3px 5px 3px 6px;height:17px}
        .MobileLoginSubTitleE { background-color:#B5B2B5;border-width:0 0px 1px 0;border-style:none none solid none;border-color:#F2F2F2;color:#000;padding:3px 5px 3px 6px;height:17px}
        .MobileLoginContent { background-color:#FFF;border-color:#B6CFE6;border-style:solid;border-width:1px; padding:7px 7px 7px 7px;}
        .MobileLoginStdTxt { font-family:Arial,Helvetica,sans-serif;font-size:large;font-style:normal;color:#000;font-weight:normal}
        .MobileLoginMsgTxt { font-family:Arial,Helvetica,sans-serif;font-size:large;font-style:normal;color:#000;font-weight:normal;line-height:1.0em;}
        .MobileLoginBldTxt { font-family:Arial,Helvetica,sans-serif;font-size:large;font-style:normal;color:#000;font-weight:bold}
        .MobileLoginRedTxt { font-family:Arial,Helvetica,sans-serif;font-size:large;font-style:normal;color:red;font-weight:bold}
        .MobileLoginStdCell { padding:0px 5px 0px 0px; }
        .MobileLoginTopCell { padding:7px 5px 0px 0px; }
        .MobileLoginSpcCell { padding:0px 5px 0px 6px; }
        .MobileLoginBtnCell { padding:0px 5px 0px 0px; }
        .MobileLoginMsgCell { background-color:#B5B2B5;color:#000;padding:2px 5px 2px 6px;}
        .MobileLoginMsgCellE { background-color:#FFFFFF;color:#000;padding:3px 5px 0px 6px; spacing:0px}
        .MobileLoginUdrLine { size:2px;color:#306898;margin-top:2px;margin-bottom:2px;}
        .MobileLoginCheck { }
        .MobileLoginStdEdt { font-family:Arial,Helvetica,sans-serif;font-size:large;font-style:normal;color:#000;font-weight:normal}
        .MobileLoginStdBtn { font-family:Arial,Helvetica,sans-serif;font-size:large;font-style:normal;color:#000;font-weight:normal}
    </style>
</head>

<body class="MobileLoginBody">
<form name="MobileLoginForm" action="/sap/bc/gui/sap/its/test/mobile/zits_wave2" method="post">
    <input type="hidden" name="sap-system-login-oninputprocessing" value="">
    <input type="hidden" name="sap-urlscheme" value="">
    <input type="hidden" name="sap-system-login" value="onLogin">
    <input type="hidden" name="sap-system-login-basic_auth" value="">
    <input type="hidden" name="sap-accessibility" value="">
    <input type="hidden" name="sap-login-XSRF" value="EdIYlBB5pmBK8tdA3vBQ_XYkDivkiGe3_f6nnr8_M3Q&#x3d;">
    <input type="hidden" name="sap-system-login-cookie_disabled" value="">
    <table class="MobileScreen" cellspacing="0" cellpadding="0" border="1">
        <tr>
            <td align="center">
                <table class="MobileLoginScreen" cellspacing="0" cellpadding="0" border="0">
                    <tr>
                        <td valign="middle" align="left">
                            <img src="/sap/public/bc/its/mimes/zits_mobile/99/images/all/gt-advanced-technologies.gif" alt="ITSmobile 1.1" class="MobileHeaderLogo" />
                        </td>
                        <td valign="middle" align="right">
                            <img src="/sap/public/bc/its/mimes/zits_mobile/99/images/all/saplogo.gif" alt="ITSmobile 1.1" class="MobileHeaderLogo" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center">
                <table class="MobileLoginScreen" cellspacing="0" cellpadding="0" border="0">
                    <tr>
                        <td class="MobileLoginTitle"><span class="MobileLoginBldTxt">Logon</span></td>
                    </tr>
                    <tr style="height:2px">
                        <td class="MobileLoginContent">
                            <table cellspacing="0" cellpadding="0" border="0">
                                <tr>
                                    <td colspan="2">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tr>
                                            <td colspan="2" class="MobileLoginStdCell"><span class="MobileLoginStdTxt">No switch to HTTPS occurred, so it is not secure to send a password</span></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="MobileLoginStdCell"><hr class="MobileLoginUdrLine"></td>
                                        </tr>
                                    </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="MobileLoginStdCell"><span class="MobileLoginStdTxt">System:</span></td>
                                    <td class="MobileLoginStdCell"><input class="MobileLoginStdEdt" type="text" disabled id="sysid" name="sysid" size="3" maxlength="3" value="GTD"/></td>
                                </tr>
                                <tr>
                                    <td class="MobileLoginStdCell"><span class="MobileLoginStdTxt">Client:</span><span class="MobileLoginRedTxt">*</span></td>
                                    <td class="MobileLoginStdCell"><input class="MobileLoginStdEdt" type="text" enabled onfocus="focusIn(this)" onblur="focusOut(this)" id="sap-client" name="sap-client" value=100 size="3" maxlength="3"/></td> </tr>
                                <tr>
                                    <td class="MobileLoginStdCell"><span class="MobileLoginStdTxt">User:</span><span class="MobileLoginRedTxt">*</span></td>
                                    <td class="MobileLoginStdCell"><input class="MobileLoginStdEdt" type="text" id="sap-user" name="sap-user" onfocus="focusIn(this)" onblur="focusOut(this)" size="12" maxlength="12" autofocus="autofocus"/></td>
                                </tr>
                                <tr>
                                    <td class="MobileLoginStdCell"><span class="MobileLoginStdTxt">Password:</span><span class="MobileLoginRedTxt">*</span></td>
                                    <td class="MobileLoginStdCell"><input class="MobileLoginStdEdt" type="password" id="sap-password" name="sap-password" onfocus="focusIn(this)" onblur="focusOut(this)" size="12" maxlength="40"/></td>
                                </tr>
                                <tr>
                                    <td class="MobileLoginStdCell"><span class="MobileLoginStdTxt">Language:</span></td>
                                    <td class="MobileLoginStdCell"> <select class="MobileLoginStdEdt" id= "sap-language" name="sap-language" size="1"> <option value=""></option> <option value="ZH">Chinese</option> <option selected value="EN">English</option>
                                    </select> </td>
                                </tr>
                                <tr>
                                    <td class="MobileLoginTopCell">&nbsp</td>
                                    <td class="MobileLoginTopCell"><input class="MobileLoginStdBtn" type="button" value="Log On" onclick="MobileSubmitLogin('onLogin'); return false;"></td>
                                </tr>
                                <tr>
                                    <td class="MobileLoginTopCell" colspan=2><a href="#" onclick="MobileSubmitLogin('onChangePwd'); return false;">Change Password</a></td>
                                </tr>
                            </table>
                        </td>
                    </tr></table>
    </table>
    </td>
    </tr>
    </table>
</form>
</body>
</html>

